body {
	margin: 0;
	width: 720px;
	height: 590px;
	border: none;
	padding: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	border: none;
	padding: none;
}

a {
	border: none;
}

img {
	border: none;
}

.portcontain {
	overflow: hidden;
	color: #fff;
	width: 720px; height: 590px;
}

.portcontain_inner {
	padding: 16px;
	position: absolute;
	bottom: 10px;
	width: 630px; height: 130px;
	z-index: 10;
}

.innerback {
	background-color: rgba(0,88,181,.6);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff');
    zoom: 1;
	width: 720px;
	height: 160px;
	position: absolute;
	bottom: 0px;
	z-index: 5;
}

.portcontain_content {
	width: 660px;
	float: left;
	font-size: 14px;
}

.portcontain_date {
	font-style: italic;
	margin-bottom: 6px;
	font-family: 'Arial';
	font-size: 13px;
}

.subhead {
	margin: 0;
	font-size: 17px;
	margin-bottom: 4px;
	font-family: 'Open Sans' sans-serif;
	text-shadow:0.1em 0.1em 0.2em #000;
	font-weight:bold;
}

.nextarrow {
	position: absolute;
	bottom: 8px; right: 8px;
	z-index: 999;
}

.portcontain_content p {
	font-family: 'Arial';
}

.portcontain_ul {
	margin-left: 0px;
	padding-left: 16px;
}

.portcontain_ul li {
	margin-left: 0px;
	padding-left: 0px;
	font-size: 14px;
	font-family: 'Arial';
}